body {
    background: url("../img/rana-sawalha-364253-unsplash@1X.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    font-family: Verdana, Courier;
}
header {
    width: 100%;
    height: 56px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    color: white;
}
.header-left-text {
    float: left;
    clear: left;
    margin-top: 20px;
    margin-left: 152px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.icon {
    background: url("../img/Sprite-top-icons.png") no-repeat;
    margin-right: 28px;
    margin-top: 18px;
}
.icon.calendar {
    background-position: 0 -99px;
    width: 19px;
    height: 19px;
    display: inline-block;
}
.icon.calendar:hover {
    background-position: 0 -80px;
    width: 19px;
    height: 19px;
    display: inline-block;
}
.icon.forum {
    background-position: 0 -20px;
    width: 28px; height: 20px;
    display: inline-block;
}
.icon.forum:hover {
    background-position: 0 0px;
    width: 28px; height: 20px;
    display: inline-block;
}
.icon.journey {
    background-position: 0 -60px;
    width: 20px; height: 20px;
    display: inline-block;
    position: relative;
}
.icon.journey:hover {
    background-position: 0 -40px;
    width: 20px; height: 20px;
    display: inline-block;
}
.icon.journey::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 19px;
    background-color: gray;
    right: -20px;
}
.header-right-text{
    display: inline-block;
    margin-right: 90px;
    vertical-align: 5px;
    text-decoration: none;
}
.header-right-text a {
    text-decoration: none;
    color: #329a65;
}
.header-right-text a:hover {
    border-bottom: #329a65 1px solid;
}
.header-right {
    float: right;
    clear: right;
    height: 100%;
}
.header-left-text:hover {
    color: #329a65;
}
.main-body-container {
    /*display: flex;*/      /*Сначала флексом сделал, потом пришёл в голову и вариант с трансформ*/
    /*align-items: center;*/
    /*justify-content: center;*/
    position: relative;
    height: 100%;
}
.body-container {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    width: 444px;
    height: 584px;
    /*border: red 1px solid;*/
    border-radius: 15px;
    background-color: white;
}
.body-inside {
    margin: 30px 60px;
}
.signup {
    display: inline-block;
    font-size: 20px;
    color: #434343;
    position: relative;
    text-decoration: none;
}
.signup::before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    left: -61px;
}
.login {
    display: inline-block;
    text-align: right;
    float: right;
    color: #3cb878;
    margin-top: 4px;
    text-decoration: none;
    font-size: 14px;
}
.login:hover {
    border-bottom: #3cb878 1px solid;
}
.facebook {
    background-color: #305db8;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    width: 157px;
    height: 46px;
    text-align: right;
    color: white;
    margin-top: 15px;
    position: relative;
}
.facebook:hover {
    background-color: #264b96;
}
.facebook::before {
    position: absolute;
    font-family: "FontAwesome"; font-weight: 400; font-size: 20px; content: "\f09a";
    left: 25px;
    top: 15px;
    color: white;
}
.facebook p::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background-color: #2b54a5;
    left: 50px;
    top: 12px;
}
.facebook p {
    position: relative;
    padding-top: 16px;
    padding-right: 16px;
}
.google {
    background-color: #df4a32;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    width: 157px;
    height: 46px;
    text-align: right;
    color: white;
    position: relative;
    margin-left: 2px;
}
.google:hover {
    background-color: #c3412c;
}
.google p {
    padding-top: 16px;
    padding-right: 30px;
    position: relative;
}
.google::before {
    position: absolute;
    font-family: "FontAwesome"; font-weight: 400; font-size: 20px; content: "\f0d5";
    left: 25px;
    top: 15px;
    color: white;
}
.google p::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 28px;
    background-color: #c8422d;
    left: 60px;
    top: 12px;
}
.text-inside-or {
    text-align: center;
    font-size: 14px;
    position: relative;
    margin-top: 20px;
    color: #848484;
}
.text-inside-or::before {
    position: absolute;
    content: "";
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    left: 0px;
    top: 8px;
}
.text-inside-or::after {
    position: absolute;
    content: "";
    width: 135px;
    height: 1px;
    background-color: #eaeaea;
    left: 185px;
    top: 8px;
}
.input-body-inside {
    margin-top: 9px;
    width: 95%;
    height: 46px;
    border: #eaeaea 1px solid;
    border-radius: 3px;
    padding-left: 17px;
}
.input-body-inside:focus {
    outline:none;
    border: transparent 1px solid;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.check-container {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    margin-top: 18px;
    font-size: 14px;
    cursor: pointer;
}
.check-container input {
    display: none;
}
.check-container .check-it {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    top: -3px;
    left: 15px;
    border: #eaeaea 1px solid;
    border-radius: 5px;
}
.check-container input:checked + .check-it:after{
    content: "";
    position: absolute;
    width: 12px;
    height: 7px;
    border-left: #3cb878 3px solid;
    border-bottom: #3cb878 3px solid;
    transform: rotate(-45deg);
    left: 3px;
    top: 4px;
}
.terms-conditions {
    font-size: 14px;
    color: #3cb878;
    text-decoration: none;
}
.bottom-button {
    width: 322px;
    height: 46px;
    margin-top: 28px;
    border-radius: 5px;
    border: transparent 1px solid;
    background-color: #3cb878;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.bottom-button:hover {
    background-color: #329a65;
}