.body-container {
    width: 1280px;
    margin: 0 auto;
    font-family: 'Public Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}
header {
    height: 180px;
    font-size: 60px;
    font-weight: 500;
}
header a {
    text-decoration: none;
    color: inherit;
}
.header-logo{
    padding-top: 61px;
}
.header-logo-dif-color {
    color: #4bcaff;
}
.nav ul {
    text-align: center;
    background-color: #35444f;
    height: 69px;
}
.nav ul li {
    display: inline-block;
}
.nav ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 25px;
    font-size: 18px;
    border-left: transparent 1px solid;
    border-right: transparent 1px solid;
}
.nav ul li a:hover {
    background-color: #222f3a;
    border-left: #818181 1px solid;
    border-right: #818181 1px solid;
}
.main-container .left-menu {
    vertical-align: top;
    margin-top: 51px;
    display: inline-block;
    border: black 1px solid;
    width: 29%;
    /*height: 400px;*/
}
.left-menu ul li a{
    display: block;
    text-decoration: none;
    color: #35444f;
    font-size: 23px;
    padding-left: 44px;
    padding-top: 28.5px;
    padding-bottom: 28.5px;
}
.left-menu ul li a:hover {
    background-color: #dbdbdb;
    color: black;
    padding-left: 69px;
}
.right-container {
    display: inline-block;
    margin-left: 45px;
    width: 67%;
    margin-top: 51px;
}
.img-wrapper {
    border: black 1px solid;
    height: 530px;
    text-align: center;
}
.img-right-container {
    padding-top: 75px;
}
.right-container p {
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
}
footer {
    margin-top: 51px;
    height: 69px;
    background-color: #b4b7ba;
}
.footer-wrapper .footer-left-nav {
    /*height: 100%;*/
    width: 69.5%;
    text-align: center;
    display: inline-block;
}
.footer-wrapper .footer-left-nav ul li {
    display: inline-block;
}
.footer-wrapper .footer-left-nav ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 21px;
    margin-top: 21px;
    margin-left: 44px;
}
.footer-wrapper .footer-left-nav ul li a:hover {
    border-bottom: #3181a6 2px solid;
    padding-bottom: 5px;
    color: #3181a6;
}
.footer-right-nav {
    display: inline-block;
    text-align: right;
    width: 30%;
    /*height: 100%;*/
}
.footer-right-nav a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    padding-right: 34px;
}