body {
    text-align: center;
    margin: 0 auto;
    font-family: "Roboto";
    letter-spacing: 3px;
}
.navigation ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 81px;
    margin-right: 20%;
    margin-left: 20%;
}
.navigation ul li {

}
.nav-list-a {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    color: #16a085;
    font-weight: bold;
    font-size: 24px;
}
.back-img {
    width: 100%;
}
.body-text {
    background-color: #f5f6f7;
    padding-bottom: 94px;
}
.base-text-h2 {
    text-align: center;
    margin-top: 59px;
    font-size: 29px;
    text-transform: uppercase;
}
.p-style {
    width: 1060px;
    margin: 34px auto;
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}
.button {
    width: 192px;
    height: 51px;
    background-color: #16a085;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}
.footer {
    height: 108px;
    padding-top: 60px;
    text-align: right;
    padding-right: 100px;
    font-size: 22px;
    font-weight: bold;
}