.main-body {
    width: 100%;
    height: 100%;
    font-family: 'Lato';
    letter-spacing: 2px;
    margin: 0 auto;
}
.header-wrapper {
    height: 70px;
    background: #1d2124;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.architect-logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 22px;
}
.header-logo-img-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    background-color: #1a1d20;
}
.header-nav {
width: 40%;
}
.header-nav-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-nav-ul-li-a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.header-searh {
    width: 68px;
    height: 100%;
    display: flex;
    text-decoration: none;
    font-size: 20px;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: #171a1c;
}
.latest-news {
    width: 100%;
    height: 400px;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/html_css_homework_homework6_img_header-bg1.jpg"); /* */
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.latest-news-inside {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
.latest-news-text {
    font-size: 27px;
    color: white;
}
.header-buttons {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.button-all {
    letter-spacing: 1px;
    width: 170px;
    height: 55px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: white;
}
.background-green {
    background: #89ca62;
}
.background-blue {
    background: #14b9d5;
}
.most-popular-posts {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 1030px;
    background: #f2f2f2;
}
.most-popular-posts-proposal {
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    border:  1px red solid;
}
.posts-top-text {
    font-size: 27px;
    color: #18b4cf;
    text-transform: uppercase;
    grid-area: top-text;
    font-weight: bold;
}
.most-popular-posts-proposal-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.most-popular-posts-proposal-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.most-popular-posts-proposal-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.most-popular-posts-p {
    display: flex;
    width: 100%;
    height: 61px;
    background: white;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 31px;
    border: #f2f2f2 1px solid;
    color: #353a3d;
}
.our-most-popular-clients-wrapper {
    width: 100%;
    height: 590px;
    background: url("../img/html_css_homework_homework6_img_parallax-bg.jpeg") no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.our-most-popular-clients-inside {
    width: 50%;
    height: 70%;
    margin: 0 auto;
    padding-top: 100px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(4, 20%);
    color: white;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    grid-template-areas:
            "text1 text1 text1 text1"
            "text2 text3 text4 text5";
}
.text1 {
    grid-area: text1;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}
.text1::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    background: #18b4cf;
    top: 112px;
    left: 45%;

}
.text2 {
    grid-area: text2;
    content: url("../img/Layer 3@1X.png");
}
.text3 {
    grid-area: text3;
    content: url("../img/logo-8@1X.png");
}
.text4 {
    grid-area: text4;
    content: url("../img/Layer 2@1X.png");
}
.text5 {
    grid-area: text5;
    content: url("../img/logo-3@1X.png");
}
.top-rated-wrapper {
    width: 100%;
    height: 381px;
    display: grid;
    grid-auto-rows: 30% 70%;
    align-items: center;
    align-content: center;
    justify-items: center;
    /*align-content: space-evenly;*/
    grid-template-areas: "top-text top-text top-text top-text top-text top-text top-text "
                        "img-1 img-2 img-3 img-4 img-5 img-6 img-7 ";

}
.top-rated-img {
    width: 100%;
    height: 100%;
}
.top-rated-img1 {
    grid-area: img-1;
    content: url("../img/latest-post-1-img@1X.png");
}
.top-rated-img2 {
    grid-area: img-2;
    content: url("../img/latest-post-2-img@1X.png");
}
.top-rated-img3 {
    grid-area: img-3;
    content: url("../img/latest-post-3-img@1X.png");
}
.top-rated-img4 {
    grid-area: img-4;
    content: url("../img/latest-post-4-img@1X.png");
}
.top-rated-img5 {
    grid-area: img-5;
    content: url("../img/latest-post-5-img@1X.png");
}
.top-rated-img6 {
    grid-area: img-6;
    content: url("../img/latest-post-6-img@1X.png");
}
.top-rated-img7 {
    grid-area: img-7;
    content: url("../img/latest-post-7-img@1X.png");
}
.hot-news-wrapper {
    height: 1600px;
    display: grid;
    /*justify-items: start;*/
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "top-text top-text"
                        "news1 news2"
                        "news3 news4"
                        "news5 news6"
                        "news7 news8";
}
.hot-news-wrapper div {
    border: 1px red solid;
}
.hot-news-1 {
    grid-area: news1;
    height: 100%;
    width: 100%;
    background: #f9f7f7;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 63% 37%;
    grid-template-rows: 40% 60%;
    grid-template-areas: "img1 text1"
                        "img1 text2";
}
.hot-news-img1 {
    grid-area: img1;
    height: 100%;
}
.hot-news-text-top {
    grid-area: text1;
}
.hot-news-text-text {
    grid-area: text2;
}
.hot-news-2 {
    grid-area: news2;
    height: 30px;
    background: red;
}
.hot-news-3 {
    grid-area: news3;
    height: 30px;
    background: blue;
}
.hot-news-4 {
    grid-area: news4;
    height: 30px;
    background: green;
}
.hot-news-5 {
    grid-area: news5;
    height: 30px;
    background: orange;
}
.hot-news-6 {
    grid-area: news6;
    height: 30px;
    background: red;
}
.hot-news-7 {
    grid-area: news7;
    height: 30px;
    background: gray;
}
.hot-news-8 {
    grid-area: news8;
    height: 30px;
    background: red;
}
.hot-news-inside {
    display: grid;
    grid-template-columns: 60% 40%;
}
