body {
    min-width: 1200px;
    font-family: 'Montserrat', Sans-Serif;
}
.green-text {
    color: #18cfab;
}
.header {
    height: 1390px;
    background: url("../img/sections background/section-1(header).jpg ");
    background-size: cover;
    background-attachment: fixed;
    opacity: 95%;
}
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.nav-logo-container {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 155px;
    font-size: 24px;
}
.nav-logo-container p {
    color: white;
    display: inline-block;
}
.nav-logo-container span {
        color: #18cfab;
    font-weight: bold;
}
.nav-logo {
    display: inline-block;
    width: 58px;
    height: 67px;
    background: url("../img/Polygon 1@1X.png");
    background-size: cover;
    color: white;
    line-height: 1.7;
    text-align: center;
    justify-items: center;
    font-size: 40px;
    font-weight: bold;
}
.nav-list {
    display: flex;
    width: 700px;
    justify-content: space-around;
}
.nav-list li a{
    text-transform: uppercase;
    text-decoration: none;
    color: #b8b8b8;
    position: relative;
}
.nav-list li a:hover {
    color: #18cfab;
}
.nav-list li a:hover::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    bottom: -300%;
}
.header-center {
    display: flex;
    /*align-items: center;*/
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 890px;

}
.header-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
    height: 250px;
}
.header-text-top {
    font-weight: bold;
    font-size: 35px;
}
.header-text-center {
    font-weight: bolder;
    font-size: 70px;
}
.header-text-bottom {
    font-size: 30px;
    font-weight: 100; /*Не меняется вес шрифта!*/
    color: #d4d4d4;
    text-transform: capitalize;
}
.header-bottom-buttons-container {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header-button {
    width: 166px;
    height: 61px;
    text-transform: uppercase;
    color: white;
    border: 0;
    box-shadow: 0 -4px 1px rgb(255,255,255);
    border-radius: 3px;

}
.left-button {
    background-color: #18cfab;
}
.right-button {
    background-color: #00cbf6;
}
.header-bottom {
    display: flex;
}
.header-bottom div {
    min-width: 25%;
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 374px;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}
.header-bottom div:nth-child(2n) {
    background-color: #18cfab;
    border-top: #ffffff solid 7px;
    color: #ffffff;
}
.header-bottom div:nth-child(2n+1) {
    background-color: #1c2a33;
    border-top: #18cfab solid 7px;
    color: #18cfab;
}
.our-services {
    height: 560px;
    text-align: center;
    background-color: #ffffff;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
}
.our-services-content {
    width: 1150px;
    color: #777777;
    margin: 0 auto;
}
.our-services-nav {
    display: flex;
    flex-direction: row;
}
.our-services-nav li{
    background-color: #f8fcfe;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.66%;
    height: 73px;
    text-decoration: none;
    border: 2px solid #ebecec;
    border-left: none;
    cursor: pointer;
}
.our-services-nav li:nth-child(1) {
    border-left: 2px solid #ebecec;
}
.our-services-nav li.active {
    background-color: #18cfab;
    color: #ffffff;
    border: 2px solid #18cfab;
    position: relative;
}
.our-services-nav li.active:after {
    content: '';
    position: absolute;
    left: 45%; bottom: -20px;
    border: 10px solid transparent;
    border-top: 10px solid #18cfab; /
}
.our-services-tabs-content {
    display: none;
    text-align: justify;
    padding-top: 25px;
    line-height: 1.25;
}
.our-services-tabs-content.active {
    display: block;
}
.our-services-tabs-content img {
    float: left;
    padding-right: 20px;
}
.our-services-tabs-content-img {
    max-width: 16.6%;
}
.just-buy-wrapper{
    height: 476px;
    background-image: url("../img/Sections background/section-2.jpg");
    /*background-size: cover;*/
    background-position: 100% 45%;
}
.just-buy {
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
    line-height: 3;
}
.our-amazing-work {
    background-color: #f8fcfe;
    /*padding-top: 70px;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    min-height: 1000px;
    text-align: center;
    border-bottom: #e1e1e1 1px solid;
}
.section-headers {
    font-size: 36px;
    color: #4e4e4e;
    letter-spacing: 2px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 80px;
    text-transform: capitalize;
    position: relative;
}
.section-headers:after {
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    bottom: 55px;
    left: 48%;
}
.section-headers:before {
    content: "";
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    position: absolute;
    bottom: 52px;
    left: 49%;
}
.section-headers.white-text {
    color: white;
}
.our-amazing-work-content {
    /*padding-top: 120px;*/
    padding-bottom: 50px;
    max-width: 1150px;
    min-height: 700px;
    color: #777777;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    margin: 0 auto;
}
.our-amazing-work-nav {
    display: flex;
    margin: 0 auto;
    /*margin-top: 86px;*/
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    width: 609px;
}
.our-amazing-work-nav li{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 20%;
    height: 58px;
    text-decoration: none;
    border: 2px solid #f4f7f8;
    border-left: none;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}
.our-amazing-work-nav li:nth-child(1) {
    border-left: 2px solid #f4f7f8;
}
.our-amazing-work-nav li.active {
    color: #18cfab;
}
.our-amazing-work-nav li.active:after{
    position: absolute;
    content: "";
    width: 101%;
    height: 3px;
    background-color: #18cfab;
    top: -3px;
}
.our-amazing-work-images {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.our-amazing-work-img {
    width: 100%;
    height: 100%;
}
.our-amazing-work-img {
    width: 25%;
    height: 209px;
    margin: -2px;
}
.button-show-more {
    display: none;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #18cfab;
    color: white;
    font-size: 14px;
    width: 165px;
    height: 60px;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
}
.inside-btn {
    display: flex;
    justify-content: space-evenly;
}
.button-show-more.active {
    display: block;
}
.break-news-content {
    padding-bottom: 50px;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}
.break-news-content-card {
    width: 23%;
    height: 278px;
    background: #00cbf6;
    margin-bottom: 40px;
    position: relative;

}
.break-news-content-card-bottom {
    height: 72px;
    width: 100%;
    background-color: #f8fcfe;
    margin-top: -3px;
    color: #717171;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.break-news-content-card-bottom p {
    margin-left: 15px;
}

.break-news-content-card-right-top {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 66px;
    width: 68px;
    background-color: #203e38;
    color: white;
}
.break-news-content-card-right-top p {
    text-transform: capitalize;
}
.break-news-content-card-bottom p:nth-child(2) {
    font-size: 15px;
    color: #717171;
}
.what-they-say {
    height: 851px;
    background: url("../img/Sections background/section-3.jpg");
    /*background-size: cover;*/
    background-position: 50% 100%;
    text-align: center;
}
.what-they-say-top {
    width: 500px;
    height: 300px;
    /*background: #00cbf6;*/
    margin: 0 auto;
    text-align: center;
}
.covich {
    content: "";
    margin: 0 auto;
    margin-bottom: 50px;
    width: 50px;
    height: 25px;
    background: url("../img/covich.png") no-repeat;
    background-position: center;
}
.name-pof {
    margin-top: 15px;
}
.name-pof p {
    margin-top: 5px;
}
.what-they-say-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    width: 600px;
    margin: 0 auto;
    color: white;
}
.slick-list {
    width: 500px;
}
.what-they-say-top div {
    color: #bbbbbb;
    text-align: center;
}
.what-they-say-top div img {
    width: 30%;
    border-radius: 50%;
    border: rgba(24,207,171,0.3) 10px solid;
    margin: 0 auto;
    position: relative;
}
.what-they-say-bottom div img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: rgba(24,207,171,0.3) 10px solid;
    margin: 0 auto;
    position: relative;
}
/*.what-they-say-top div img::after {*/
/*    top: 0;*/
/*    position: absolute;*/
/*    background: none;*/
/*    width: 30%;*/
/*    height: 30%;*/
/*    border-radius: 50%;*/
/*    border: #18cfab 20px solid;*/
/*    margin: 0 auto;*/
/*}*/
.slick-prev, .slick-next{
    color: transparent;
    outline: none;
}
.slick-prev:after {
     content: "";
     font-size: 70px;
     width: 30px;
     height: 30px;
     left: 0;
     top: 60px;
     background: url("../img/people/left-arrow.png") no-repeat;
    background-size: 15px;
    background-position: center;
     position: absolute;
 }
.slick-next:after {
    content: "";
    font-size: 70px;
    width: 30px;
    height: 30px;
    right: 0;
    top: 60px;
    background: url("../img/people/right-arrow.png") no-repeat;
    background-size: 15px;
    background-position: center;
    position: absolute;
}
.slick-prev.slick-arrow {
    width: 30px;
    height: 30px;
    border: #bbbbbb 1px solid;
    background: transparent;
}
.slick-prev.slick-arrow:hover {
    background-color: #18cfab;
}
.slick-next.slick-arrow:hover {
    background-color: #18cfab;
}
.slick-next.slick-arrow {
    width: 30px;
    height: 30px;
    border: #bbbbbb 1px solid;
    background: transparent;
}
.slick-slide.slick-current.slick-active div{
    padding-bottom: 10px;
    /*width: 600px;*/
}
.what-they-say-top.slick-initialized.slick-slider {
    width: 600px;
    height: 400px;

}
.slick-list.draggable {
    width: 600px;
    /*height: 600px;*/
    /*margin-right: -100px;*/
}
.masonry {
    width: 1200px;
    /*height: 1200px;*/
    margin: 0 auto;

}
.item {
    float: left;
    padding: 5px;
    width: 30%
}
.item.three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item.six {
    display: flex;
    flex-wrap: wrap;
    /*gap: 2rem;*/
    align-items: center;
    justify-content: space-between;

}
.item.six img {
    width: 33%;
    min-height: 92px;
}
.gallery-of-best-images {
    height: 1366px;
    background-color: #f8fcfe;
}
.footer {
    margin-top: 20px;
    height: 60px;
    background-color: #22353f;
    color: #aeaeae;
    text-align: center;
    padding-top: 45px;
}