body {
    width: 1192px;
    height: 736px;
    margin: 0 auto;
}
table {
    width: 1132px;
    height: 680px;
    font-family: "Arimo";
    table-layout: auto;
    text-transform: uppercase;
    position: relative;
    border-top: 24px #3a4965 solid;
    border-right: 30px #3a4965 solid;
    border-bottom: 32px #3a4965 solid;
    border-left: 22px #3a4965 solid;
    overflow: hidden;
}
td {
    border-right: 2px #d3d3d3 solid;
}
.own-items {
    width: 310px;
}
.another-items {
    width: 277px;
}
tfoot td{
    height: 110px;
}
.choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 305px;
    height: 156px;
    line-height: 170%;
    position: absolute;
    font-weight: 700;
    color: #484848;
}
.choose-your {
    font-size: 18px;
}
.choose-your-plan {
    font-size: 30px;
}
.background-green {
    background: #89c331;
}
.background-red {
    background: #f04a56;
}
.background-blue {
    background: #20807c;
}
.background-gray {
    background: #dddddd;
}
.background-light-gray {
    background: #f2f2f2;
}
.top-thead-plan-standart {
    font-size: 24px;
    font-weight: 700;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.top-thead-price-container {
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    color: #484848;
}
.cent {
    display: inline-block;
    font-size: 24px;
    font-weight: 700;
}
.per {
    font-size: 18px;
    font-weight: 400;
}
tbody td {
    height: 69px;
    text-align: center;
}
tbody tr:nth-child(2n+1){
    background: #f2f2f2;;
}
tbody tr:nth-child(2n) {
    background: #e3e3e3
}
.tfoot-td-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.tfoot-button-all {
    width: 192px;
    height: 49px;
    border-radius: 5px;
    border: transparent;
    font-size: 16px;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}
.tfoot-button-contact {
    background: #484848;
}
.tbody-td-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 25%;
    padding-right: 25%;
}