body {
    background:
            linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
            url("../img/html_css_homework_homework3_main-bg.jpg"),
            no-repeat;
    background-size: cover;
    margin: 0 auto;
    max-width: 1366px;
    max-height: 768px;
    font-family: Verdana, "Courier New";
}
.main-container {
    width: 1060px;
    height: 708px;
    margin: 49px auto 20px auto;
}
.logo-img {
    display: inline-block;
    content: url("../img/logo@1X.png");
}
.logo-wrapper-a{
    display: inline-block;
    color: white;
    text-decoration: none;
}
.logo-wrapper-a:hover {
    color: #f26522;
}
.logo-wrapper-a:hover .logo-img {
    content: url("../img/logo@1X (1).png");
}
.logo-wrapper-a .logo-img {
    float: left;
    clear: left;
}
.milan-logo-top-text {
    line-height: 0.95;
    font-size: 29px;
    font-weight: 700;
    float: right;
    clear: right;
    padding-left: 15px;
    /*text-decoration: none;*/
}
.milan-logo-bottom-text {
    font-size: 18px;
    font-weight: 700;
    float: right;
    clear: right;
}
.contacts {
    display: inline-block;
    float: right;
    color: white;
    font-size: 18px;
    text-align: right;
}
.img-block {
    margin-top: 45px;
}
.img-1 {
    background: url("../img/Layer 21@1X.png");
    text-decoration: none;
    width: 307px;
    height: 200px;
    float: left;
    position: relative;
}
.img-details {
    background-color: #f26522;
    width: 100%;
    height: 60px;
    position: absolute;
    top: 140px;
    display: none;
    color: white;
}
.img-details-left {
    margin-top: 16px;
    margin-left: 21px;
    margin-bottom: 16px;
    float: left;
    clear: left;
    font-size: 10px;
}
.img-details-price {
    font-size: 20px;
}
.img-details-right {
    position: relative;
    text-align: right;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 14px;
}
.img-details-right::before {
    font-family: "FontAwesome"; font-weight: 900; content: "\f105";
    position: absolute;
    right: -15px;
}
.img-block-text {
    color: white;
    font-size: 18px;
    text-align: center;
    /*margin-top: 20px;*/
    padding-top: 227px;
}
.img-2 {
    background: url("../img/Layer 22@1X.png");
    text-decoration: none;
    width: 307px;
    height: 200px;
    float: left;
    position: relative;
    margin-left: 66px;
    margin-right: 66px;
}
.img-3 {
    background: url("../img/Layer 23@1X.png");
    text-decoration: none;
    width: 307px;
    position: relative;
    height: 200px;
    float: left;
}
.img-4 {
    background: url("../img/Layer 24@1X.png");
    text-decoration: none;
    width: 307px;
    height: 200px;
    position: relative;
    float: left;
    margin-top: 94px;
}
.img-5 {
    background: url("../img/Layer 25@1X.png");
    text-decoration: none;
    width: 307px;
    height: 200px;
    position: relative;
    float: left;
    margin-left: 66px;
    margin-right: 66px;
    margin-top: 94px;
}
.img-6 {
    background: url("../img/Layer 26@1X.png");
    text-decoration: none;
    width: 307px;
    height: 200px;
    position: relative;
    float: left;
    margin-top: 94px;
}
footer {
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 25px;
}
.img:hover .img-block-text{
    color: #f26522;
}
.img:hover .img-details{
    display: block;
}