body {
    background-color: #151616
}
.logo {
    width: 20vw;
    height: 13.6vw;
    background-image: url("../img/logo.jpg");
    background-size: cover;
    margin-left: 3.2vw;
}
header {
    width: 100%;
    background: #141515;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header-button-toggler {
    width: 15vw;
    height: 13.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-button-toggler-line {
    width: 6.666666666666667VW;
    height: 0.26666666666666666VW;
    background-color: #F38A03;
    margin-top: 1.5VW;
}
.header-navigation {
    color: white;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 2;
}
.none{
    display: none;

}
.header-navigation-item {
    padding-top: 2.66666666666vw;
    padding-right: 15vw;
    padding-left: 2.66666666666vw;;
    padding-bottom: 2.66666666666vw;
    border: #141515 1px solid;
    border-bottom: none;
    background: #141515;
}
.header-navigation-item:nth-child(1) {
    border-top: none;
}
.header-navigation-item:nth-child(4) {
    border-bottom: #141515 1px solid;;
}
.main-top {
    padding-top: 15.2VW;
    padding-left: 3.2VW;
    padding-right: 28.26666666666667VW;
    padding-bottom: 64.53333333333333VW;
    background-image: url("../img/background1.png");
    /*background-repeat: no-repeat;*/
    background-size: cover;
    position: relative;
}
.main-top:after {
    content: "";
    width: 70.93333333333334VW;
    height: 17.216VW;
    background-color: #ED1260;
    position: absolute;
    top: 100%;
    right: 0;
}
.energy-gym-rectangle {
    padding: 10.933333333333334VW 8.266666666666666VW;
    background-color: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
.energy-gym-website {
    display: inline-block;
    margin-top: 3.781333333333333VW;
    margin-left: 20VW;
    padding: 4.533333333333333VW 8.533333333333333VW;
    background-color: black;
    color: white;
}
.main-top-text {
    padding-top: 27.46666666666667VW;
    padding-left: 15.466666666666667VW;
    padding-right: 13.866666666666665VW;
    background-color: #141515;
    color: white;
    width: 70.66666666666667VW;
}
.about-energym {
    background-color: #151616;
    color: white;
    padding-top: 18.050666666666665VW;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.about-energym-item {
    /*padding-bottom: 6.666666666666667VW;*/
    width: 39.733333333333334VW;
    height: 32vw;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    /*align-items: center;*/
    text-align: center;
}
.map {
    margin: 0 auto;
    background-color: #151616;
    width: 90.26666666666667VW;
    border: 5px solid #ED1260;
    /*padding-left: 2.666666666666667VW;*/
    padding-top: 2.666666666666667VW;
    text-align: center;
    color: white;
    position: relative;
}
.map:after {
    content: url("../img/placeholder.png");
    position: absolute;
    top: 16.53333333333333VW;
    left: 47.199999999999996VW;
}
.map-inside {

    width: 83.73333333333333VW;
}
footer {
    border: 5px solid #F38A03;
    margin-top: 16.8VW;
    padding-top: 5.866666666666666VW;
    padding-bottom: 5.866666666666666VW;
    padding-left: 18.666666666666668VW;
    padding-right: 15VW;
    color: white;
    margin-bottom: 5VW;
}
.footer-img {
    float: left;
    margin-right: 6.933333333333333VW;
}
.email, .phone, .location {
     margin-top: 5.333333333333334VW;
}